body {
    margin: 15%;
}
#adresar {

  width: 100%;
}

#adresar td, #adresar th {
  border: 1px solid ;
  padding: 8px;
}



#adresar th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

}